#OpenFace/*
#OpenFace
4.1.0.zip
.vscode/
dlib-19.13.tar.bz2
dlib-19.13
dlib-19.13/*
TSPNet/*
opencv-4.1.0
opencv-4.1.0/*
#FacialActionLibras/data/raw/*
!FacialActionLibras/data/raw/.gitkeep
FacialActionLibras/data/processed/*
!FacialActionLibras/data/processed/.gitkeep
FacialActionLibras/data/interin/*
!FacialActionLibras/data/interin/.gitkeep
FacialActionLibras/data/external/*
!FacialActionLibras/data/external/.gitkeep
FacialActionLibras_Emely/Data_annotations/*
FacialActionLibras/data/raw/UCF-101-Analysis/*
FacialActionLibras/data/raw/UCF-101-Analysis-Selected/*
FacialActionLibras/data/raw/UCF-101-Analysis-Selected-backup/*
FacialActionLibras/data/raw/UCF-101-Analysis-Selected-GrayScale/*
FacialActionLibras/data/raw/UFC-101-Analisys/*
FacialActionLibras/data/examples/*
FacialActionLibras/docker/*
# FacialActionLibras/models/openface/build/*
FacialActionLibras/notebooks/.ipynb_checkpoints/
FacialActionLibras/reports/examples/*
*.mp4
*.png
*.webm
*.xml
*.pyc
*.h5
*.pkl
*.dat
*.npy
*.avi
*.pb
*.tar.xz
*.tar.gz
FacialActionLibras/data/examples/*
FacialActionLibras/data/raw/UCF-101-Analysis-Selected/*
FacialActionLibras/data/raw/UCF-101-Analysis-GrayScale/*
FacialActionLibras/notebooks/feature_extraction/data/vis1-videos/*
FacialActionLibras/notebooks/feature_extraction/data/vis2-videos/*
FacialActionLibras/notebooks/video/generated/sr_2x/bicubic.avi
FacialActionLibras/notebooks/video/generated/sr_2x/upscaled2.avi
FacialActionLibras/notebooks/video/generated/sr_2x/upscaled1.avi
FacialActionLibras/notebooks/video/generated/sr_2x/upscaled3.avi
FacialActionLibras/notebooks/video/generated/sr_2x/upscaled4.avi
!FacialActionLibras/data/examples/teste/RostoIntensidade-10Decima-Zangado.avi
FacialActionLibras/data/outputs_backup/*
!FacialActionLibras/data/examples/lands_mp_match_dlib_682d_old.csv
FacialActionLibras/data/raw/DISFA/*
FacialActionLibras/data/raw/NOTEBOOK_LIGAR_MAS_LIGARMONITOR_NAO/*
FacialActionLibras/data/outputs/DISFA-Video_RightCamera/checkpoints/*
FacialActionLibras/data/outputs/DISFA-Video_RightCamera/*
FacialActionLibras/data/outputs/UCF-101-Analysis/*
FacialActionLibras/data/outputs/*
FacialActionLibras/data/raw/DISFA/*
FacialActionLibras/models/deepAE_norm_mpp_dlib_act_tanh_es_50_epoch_549_data_v2/*
!FacialActionLibras/models/deepAE_norm_mpp_dlib_act_tanh_es_50_epoch_549_data_v2/
FacialActionLibras/data/raw/old
!FacialActionLibras/data/examples/lands_mp_match_dlib_682d_ref02.csv
FacialActionLibras/data/raw/DatasetGravacoes/*
FacialActionLibras/data/raw/compressed-cesar.zip
